.queryReportRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 0.5rem 0;
    background-color: #f5f5f5;  /* Fondo claro para contrastar con el fondo general */
    height: 15vh;
    max-height: 15vh;
}

.queryReportRow:hover {
    height: inherit;
    max-height: none; /* quitar la restricción de altura al hacer hover */
}

