.executeButton {
    padding: 2px 10px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #28A745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.input-var-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

.executeButton:hover {
    background-color: #0056b3;
}

.executeButton:active {
    background-color: #003f8a;
}

.executeButton:disabled {
    background-color: #b0c7d4;
    cursor: not-allowed;
}
