.input-var-box {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #f7f7f7;
}

.input-var-box > *{
    margin: 5px;
}

.input-var-name {
    font-weight: bold;
}

