.querySetting {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    background-color: #f7f7f7;
}

.querySetting > *{
    margin: 5px;
}

.querySetting {
    font-weight: bold;
}

